//
   Created by lzr on 2017/2/27.

extends ../commons/layout

block head

block content

    .row
        .col-md-2.col-sm-2.col-xs-12
        .col-md-8.col-sm-8.col-xs-12
            .x_panel
                .x_content
                    ul.messages
                        li
                            img.avatar(src='images/img.jpg', alt='Avatar')
                            .message_wrapper
                                h4.heading Desmond Davison
                                small 2017.03.01
                                br
                                br
                                blockquote.message
                                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.
                                br
                    .clearfix
                    .row
                        .col-md-2.col-sm-2.col-xs-2
                        .col-md-3.col-sm-3.col-xs-3
                            a.btn(data-toggle='modal', data-target='.bs-example-modal-lg')
                                i.fa.fa-external-link
                                | 123
                            .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
                                .modal-dialog.modal-lg
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal')
                                                span(aria-hidden='true') ×
                                            h4#myModalLabel.modal-title Modal title
                                        .modal-body
                                            h4 Text in a modal
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                                            button.btn.btn-primary(type='button') Save changes

                        .col-md-3.col-sm-3.col-xs-3
                            a#headingOne.btn.panel-heading.collapsed(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                                i.fa.fa-comment-o
                                | 456
                        .col-md-3.col-sm-3.col-xs-3
                            a.btn
                                i.fa.fa-thumbs-o-up
                                | 789
                        .col-md-1.col-sm-1.col-xs-1
                    .row
                        .panel
                            #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne', aria-expanded='false', style='height: 0px;')
                                .panel-body
                                    ul.messages
                                        li
                                            img.avatar(src='images/img.jpg', alt='Avatar')
                                            .message_wrapper
                                                font(style='color:#CD5C5C;')
                                                    | Desmond Davison:
                                                font(style='color:#696969;')
                                                    | comment this is a comment
                                                br
                                                small 2017.03.01
                                                br

                                        li
                                            img.avatar(src='images/img.jpg', alt='Avatar')
                                            .message_wrapper
                                                font(style='color:#CD5C5C;')
                                                    | Desmond Davison:
                                                font(style='color:#696969;')
                                                    | comment this is a comment
                                                br
                                                small 2017.03.01
                                                br

        .col-md-2.col-sm-2.col-xs-12




block scripts