//
   Created by lzr on 2017/2/27.

extends ../commons/layout

block head

block content

    input#customer(type='hidden', value=customer)

    //微博列表
    .row(style='margin-top:20px;')
        .col-md-1.col-sm-1.col-xs-12
        #blogList.col-md-10.col-sm-10.col-xs-12

        .col-md-1.col-sm-1.col-xs-12



block scripts
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    // Asynchronously load data from blogs
    script(src='javascripts/blog/blogList.js')