//
   Created by lzr on 2017/2/27.

extends ../commons/layout

block head

block content

    input#author(type='hidden', value=author)
    input#title(type='hidden', value=title)
    input#customer(type='hidden', value=customer)

    //微博列表
    .row(style='margin-top:20px;')
        .col-md-2.col-sm-2.col-xs-12
        #blogDetail.col-md-8.col-sm-8.col-xs-12
        .col-md-2.col-sm-2.col-xs-12

block scripts
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    // Asynchronously load data from blogs
    script(src='javascripts/blog/detailBlog.js')
    // check praiseList about this blog
    script(src='javascripts/blog/praiseList.js')
    // show praise times of this blog
    script(src='javascripts/blog/praiseTimes.js')