//
   Created by lzr on 2017/2/27.

extends ../commons/layout

block head

block content

    input#author(type='hidden', value=author)
    input#title(type='hidden', value=title)
    input#customer(type='hidden', value=customer)

    //微博列表
    .row(style='margin-top:20px;')
        .col-md-2.col-sm-2.col-xs-12
        #blogDetail.col-md-8.col-sm-8.col-xs-12
            //.x_panel
            //    ul.nav.navbar-right.panel_toolbox
            //        li
            //            a.close-link(style='color:red;')
            //                i.fa.fa-trash
            //    ul.messages
            //        li
            //            img.avatar(src='images/img.jpg', alt='Avatar')
            //            .message_wrapper
            //                h4.heading  author
            //                small createTime
            //                br
            //                br
            //                a(href='#')
            //                    h4
            //                        | title
            //                blockquote.message
            //                    | content
            //                br
            //    .row
            //        .col-md-2.col-sm-2.col-xs-2
            //        .col-md-3.col-sm-3.col-xs-3
            //            a.btn(data-toggle='modal', data-target='.bs-example-modal-lg')
            //                i.fa.fa-external-link
            //                | 123
            //        .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-hidden='true', style='display: none;')
            //            .modal-dialog.modal-lg
            //                .modal-content
            //                    .modal-header
            //                        button.close(type='button', data-dismiss='modal')
            //                            span(aria-hidden='true') ×
            //                        h4#myModalLabel.modal-title 转发微博
            //                    .modal-body
            //                        textarea#reason(name='reason', style='width:100%;height:100px;', placeholder='请输入转发理由')
            //                    .modal-footer
            //                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
            //                        button.btn.btn-primary(type='button') 转发
            //        .col-md-3.col-sm-3.col-xs-3
            //            a#headingOne.btn.panel-heading.collapsed(role='tab', data-toggle='collapse', data-parent='#accordion', href="#collapse'+i+'", aria-expanded='false', aria-controls='collapseOne')
            //                i.fa.fa-comment-o
            //                | 456
            //        .col-md-3.col-sm-3.col-xs-3
            //            a.btn(name='btn_thumbs')
            //                i.fa.fa-thumbs-o-up(name='btn_thumbs_1')
            //                i.fa.fa-thumbs-up(name='btn_thumbs_2', style='display:none;')
            //                | 789
            //        .col-md-1.col-sm-1.col-xs-1
            //    .panel-collapse.collapse(id="collapse'+i+'", role='tabpanel', aria-labelledby='headingOne', aria-expanded='false', style='height: 0px;')
            //        .panel-body
            //            ul.messages
            //                li
            //                    img.avatar(src='images/img.jpg', alt='Avatar')
            //                    .message_wrapper
            //                        font(style='color:#CD5C5C;') Desmond Davison:
            //                        font(style='color:#696969;') comment this is a comment
            //                        br
            //                        small 2017.03.01
            //                        br
            //                li
            //                    img.avatar(src='images/img.jpg', alt='Avatar')
            //                    .message_wrapper
            //                        font(style='color:#CD5C5C;') Desmond Davison:
            //                        font(style='color:#696969;') comment this is a comment
            //                        br
            //                        small 2017.03.01
            //                        br
            //

        .col-md-2.col-sm-2.col-xs-12

block scripts
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    // Asynchronously load data from blogs
    script(src='javascripts/blog/detailBlog.js')