//
   Created by lzr on 2017/2/27.

extends ../commons/layout

block head

block content
    input#customer(type='hidden', value=customer)
    //写微博
    .row
        .col-md-2.col-sm-2.col-xs-12
        .col-md-8.col-sm-8.col-xs-12
            .x_panel
                .x_content
                    div(ng-app='')
                        form#demo-form2.form-horizontal.form-label-left(data-parsley-validate='', novalidate='', method='post', action='/add')
                            .form-group
                                label.control-label.col-md-1.col-sm-1.col-xs-12(for='title')
                                    | 标题
                                    span.required *
                                .col-md-9.col-sm-9.col-xs-12
                                    input#title.form-control.col-md-7.col-xs-12(type='text', name='title', required)
                                .col-md-2.col-sm-2.col-xs-12
                            .form-group
                                label.control-label.col-md-1.col-sm-1.col-xs-12(for='description')
                                    | 内容
                                    span.required *
                                .col-md-9.col-sm-9.col-xs-12
                                    textarea#description(name='description', ng-model='description', style='width:100%;height:100px;', required)
                                    .row
                                        .col-md-10.col-sm-10.col-xs-12
                                            h4 已输入 {{description.length}} 个字
                                        .col-md-2.col-sm-2.col-xs-12
                                            button.btn.btn-primary(type='submit', id='btn_pubBlog', style='margin-top:10px;')
                                                | 发布





        .col-md-2.col-sm-2.col-xs-12

    //微博列表
    .row
        .col-md-2.col-sm-2.col-xs-12
        #blogList.col-md-8.col-sm-8.col-xs-12

        .col-md-2.col-sm-2.col-xs-12

block scripts
    // Parsley
    script(src='javascripts/commons/parsley.min.js')
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    // Asynchronously load data from blogs
    script(src='javascripts/blog/pubBlog.js')
    // Write Validation
    //script(src='javascripts/blog/writeValidation.js')