//
   Created by lzr on 2017/2/22.

extends ../commons/layout

block head

block content

    //alertPopover弹出框
    #alertPopover.bs-example-popovers(style='display:none;')
        .alert.alert-danger.alert-dismissible.fade.in(role='alert')
            button.close(type='button', aria-label='Close', id='btn_alert')
                span(aria-hidden='true') ×
            center(id='message')




    //modal
    - if(locals.message)
        //button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
        //    | 打开模态框
        .modal.fade.bs-example-modal-sm(id='alert_modal', tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel2.modal-title 警告
                    .modal-body
                        h4= locals.message
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 关闭


    //login form

    .login
        a#signup.hiddenanchor
        a#signin.hiddenanchor
        .login_wrapper
            .animate.form.login_form(id='login_form')
                section.login_content
                    form(method='post', action='/login')
                        h1 用户登录
                        div
                            input.form-control(type='text', id='login_username', name='username', placeholder='账号', required='required')
                        div
                            input.form-control(type='password', id='login_password', name='password', placeholder='密码', required='required')
                        div
                            button.btn.btn-default.submit(id='btn_login', type='submit') 登录
                            //a.reset_pass(href='#') 忘记密码?
                        .clearfix
                        .separator
                            p.change_link
                                | 没有账号?
                                a.to_register(href='#signup')  注册
                            .clearfix
                            br
                            div

                                p
                                    | ©2017 All Rights Reserved.
                                br
                                p
                                    | design by linzengrui

            #register.animate.form.registration_form
                section.login_content
                    form(method='post', action='/reg')
                        h1 用户注册
                        div
                            input.form-control(type='text', id='reg_username', name='username', placeholder='账号', required='required')

                        div
                            input.form-control(type='password', id='reg_pwd1', name='password', placeholder='密码', required='required')
                        div
                            input.form-control(type='password', id='reg_pwd2', name='password2', placeholder='再输入一次密码', required='required')
                        div
                            button.btn.btn-default.submit(id='btn_reg', type='submit') 注册
                        .clearfix
                        .separator
                            p.change_link
                                | 已经有账号 ?
                                a.to_register(href='#signin')  登录
                            .clearfix
                            br
                            div
                                p
                                    | ©2017 All Rights Reserved.
                                br
                                p
                                    | design by linzengrui





block scripts

    // Login And Register Validate Scripts
    script(src='javascripts/user/login.js')