

extends ../commons/layout

block head

block content

    //隐藏域
    input#author(type='hidden', value=author)

    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_title
                    h2
                        | 他人主页
                    .clearfix
                .x_content
                    .col-md-3.col-sm-3.col-xs-12.profile_left
                        .profile_img
                            #crop-avatar
                                // Current avatar
                                img.img-responsive.avatar-view(src=imageUrl)
                        h3=author
                        ul.list-unstyled.user_data
                            li
                                i.fa.fa-map-marker.user-profile-icon
                                |  广东省, 珠海市, 香洲区
                        a.btn.btn-success(id='haveFriend')
                            i.fa.fa-plus.m-right-xs
                            | 加关注
                        a.btn.btn-danger(id='loseFriend')
                            i.fa.fa-minus.m-right-xs
                            | 取消关注
                        br

                    .col-md-9.col-sm-9.col-xs-12
                        div(role='tabpanel', data-example-id='togglable-tabs')
                            ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                li.active(role='presentation')
                                    a#home-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') 全部微博
                            #myTabContent.tab-content
                                #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                                    #blogList


block scripts
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    //show my blog list
    script(src='javascripts/user/otherBlog.js')
    //friend
    script(src='javascripts/user/friend.js')

