extends ../commons/layout

block head

block content
    input#customer(type='hidden', value=customer)
    //modal
    - if(locals.message)
        //button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
        //    | 打开模态框
        .modal.fade.bs-example-modal-sm(id='alert_modal', tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel2.modal-title 提示
                    .modal-body
                        h4= locals.message
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 关闭

    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_title
                    h2
                        | 我的主页
                    .clearfix
                .x_content
                    .col-md-3.col-sm-3.col-xs-12.profile_left
                        .profile_img
                            #crop-avatar
                                // Current avatar
                                img#img.img-responsive.avatar-view(src=imageUrl)
                        h3 博主
                        ul.list-unstyled.user_data
                            li
                                i.fa.fa-map-marker.user-profile-icon
                                |  广东省, 珠海市, 香洲区
                        br

                    .col-md-9.col-sm-9.col-xs-12
                        div(role='tabpanel', data-example-id='togglable-tabs')
                            ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
                                li.active(role='presentation')
                                    a#home-tab(href='#tab_content1', role='tab', data-toggle='tab', aria-expanded='true') 全部微博
                                li(role='presentation')
                                    a#profile-tab(href='#tab_content2', role='tab', data-toggle='tab', aria-expanded='false') 修改密码
                                li(role='presentation')
                                    a#profile-tab2(href='#tab_content3', role='tab', data-toggle='tab', aria-expanded='false') 上传头像
                                li(role='presentation')
                                    a#profile-tab3(href='#tab_content4', role='tab', data-toggle='tab', aria-expanded='false') 更多
                            #myTabContent.tab-content
                                #tab_content1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
                                    #blogList

                                #tab_content2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                    .x_panel
                                        .x_title
                                            h2 个人中心--修改个人密码
                                            .clearfix
                                        .x_content
                                            form.form-horizontal.form-label-left.input_mask(method='post', action='/user_update_password')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | 用户名
                                                    .col-md-4.col-sm-4.col-xs-12
                                                        input.form-control(type='text', readonly='readonly', id='username', name='username', value=user.username)
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | 新的密码
                                                        span.required *
                                                    .col-md-4.col-sm-4.col-xs-12
                                                        input.date-picker.form-control.col-md-7.col-xs-12(required='required', type='password',id='pwd', name='pwd')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | 确认密码
                                                        span.required *
                                                    .col-md-4.col-sm-4.col-xs-12
                                                        input.date-picker.form-control.col-md-7.col-xs-12(required='required', type='password', id='pwd2', name='pwd2')
                                                .ln_solid
                                                .form-group
                                                    .col-md-4.col-sm-4.col-xs-12.col-md-offset-5
                                                        button.btn.btn-info(type='reset') 重置
                                                        button.btn.btn-success(type='submit', id='btn_admin_submit') 提交




                                #tab_content3.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                    input#file(type='file', name='file')
                                    button#upload.btn.btn-default 提交
                                    p#result

                                #tab_content4.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')






block scripts
    //trasfer Date
    script(src='javascripts/commons/moment.min.js')
    //update password validation
    script(src='javascripts/user/user_update_password.js')
    //show my blog list
    script(src='javascripts/user/myBlog.js')
    //upload image
    script(src='javascripts/user/upload.js')

