//
   Created by lzr on 2017/2/22.

extends ../commons/layout_email

block head

block content

    .row(style='padding:60px 0px;')
        .panel.panel-success
            .panel-heading
                h3.panel-title
                    span 邮箱验证
            .panel-body(style='padding-top: 50px;')
                .col-md-2.col-sm-2.col-xs-12
                .col-md-8.col-sm-8.col-xs-12
                    h4
                        | 请查收邮件

block scripts
