extends ../commons/layout

block content
    .bs-example(data-example-id='simple-jumbotron')(style='margin: 0 20px;')
        .jumbotron(style='padding: 50px 100px;padding-left:200px;')
            h1 欢迎来到微博!
            p
                | 随时随地发现新鲜事

