// jQuery
script(src='/node_modules/gentelella/vendors/jquery/dist/jquery.min.js')
// Bootstrap
script(src='/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
// FastClick
script(src='/node_modules/gentelella/vendors/fastclick/lib/fastclick.js')
// NProgress
script(src='/node_modules/gentelella/vendors/nprogress/nprogress.js')
// bootstrap-progressbar
script(src='/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
// iCheck
script(src='/node_modules/gentelella/vendors/iCheck/icheck.min.js')
// PNotify
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.js')
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.js')
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.js')
// Custom Theme Scripts
script(src='/node_modules/gentelella/build/js/custom.min.js')






