//静态资源文件引用
//采用绝对路径
//根目录下的文件路径

// Angular
script(src='/node_modules/angular/angular.min.js')

// jQuery
script(src='/node_modules/gentelella/vendors/jquery/dist/jquery.min.js')
// Bootstrap
script(src='/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
// FastClick
script(src='/node_modules/gentelella/vendors/fastclick/lib/fastclick.js')
// NProgress
script(src='/node_modules/gentelella/vendors/nprogress/nprogress.js')

// morris.js
script(src='/node_modules/gentelella/vendors/raphael/raphael.min.js')
script(src='/node_modules/gentelella/vendors/morris.js/morris.min.js')



// bootstrap-progressbar
script(src='/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
// iCheck
script(src='/node_modules/gentelella/vendors/iCheck/icheck.min.js')
// PNotify
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.js')
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.js')
script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.js')



// bootstrap-daterangepicker
script(src='/node_modules/gentelella/vendors/moment/min/moment.min.js')
script(src='/node_modules/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js')
// bootstrap-wysiwyg
script(src='/node_modules/gentelella/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js')
script(src='/node_modules/gentelella/vendors/jquery.hotkeys/jquery.hotkeys.js')
script(src='/node_modules/gentelella/vendors/google-code-prettify/src/prettify.js')
// jQuery Tags Input
script(src='/node_modules/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js')
// Switchery
script(src='/node_modules/gentelella/vendors/switchery/dist/switchery.min.js')
// Select2
script(src='/node_modules/gentelella/vendors/select2/dist/js/select2.full.min.js')
// Parsley
script(src='/node_modules/gentelella/vendors/parsleyjs/dist/parsley.min.js')
// Autosize
script(src='/node_modules/gentelella/vendors/autosize/dist/autosize.min.js')
// jQuery autocomplete
script(src='/node_modules/gentelella/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js')
// starrr
script(src='/node_modules/gentelella/vendors/starrr/dist/starrr.js')


// Custom Theme Scripts
script(src='/node_modules/gentelella/build/js/custom.min.js')


