//
   Created by lzr on 2017/2/22.
doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= title

        include top

        block head

    body(style='background:#FFFFFF;padding-top:0px;padding-bottom:70px;margin: 0 150px;')

        .index-top
            .bs-example
                nav.navbar(style='/*background:#34495E;*/')
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href='#' )
                                i.fa.fa-weibo
                                    |  微博
                        #bs-example-navbar-collapse-9.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li
                                    a(href='/') 首页

                                //li
                                //    a(href='/toCommentBlogPage') 评论

                                -if(user)
                                    li
                                        a(href='/toAddPage') 登录后的写微博+列表
                                    li
                                        a(href='/profile') 个人中心
                                    li
                                        a(href='/logout') 退出
                                -else
                                    li
                                        a(href='/toBlogListPage') 未登录前的列表
                                    li
                                        a(href='/toLogin') 登录
                                    li
                                        a(href='/toLogin#signup') 注册


        block content

        include bottom

        block scripts