//
   Created by lzr on 2017/2/22.
doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= title

        include top

        block head

    body(style='background:#6495ED;')

        nav.navbar.navbar-default
            .container-fluid
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/toBlogListPage' )
                                i.fa.fa-weibo
                                    |  微博
                        -if(user)
                            li
                                a(href='/toAddPage') 列表
                    ul.nav.navbar-nav.navbar-right
                        -if(user)
                            li.dropdown
                                a.user-profile.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img#layout_img(src='images/img.jpg', alt='')
                                    =user.username
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile') 个人中心
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout') 退出
                        -else
                            li
                                a(href='/toLogin') 登录
                            li
                                a(href='/toLogin#signup') 注册

        div(style='margin-top:20px;')
            block content

        include bottom

        block scripts