//
   Created by lzr on 2017/2/22.
doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= title

        include top

        //customer style
        //link(href='stylesheets/user/layout.css', rel='stylesheet')

        block head

    body

        nav
            .top_nav
                .nav_menu
                    .container-fluid
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='/toBlogListPage' )
                                        i.fa.fa-weibo
                                            |  微博
                                -if(user)
                                    li
                                        a(href='/toAddPage') 列表
                            ul.nav.navbar-nav.navbar-right
                                -if(user)
                                    li.dropdown
                                        a.user-profile.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                            img#layout_img(src='', alt='')
                                            =user.username
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='/profile') 个人中心
                                            li.divider(role='separator')
                                            li
                                                a(href='/toFriendPage') 我的好友
                                            li.divider(role='separator')
                                            li
                                                a(href='/logout') 退出
                                -else
                                    li
                                        a(href='/toRegister_form')
                                            span.label.label-success
                                                | 注册
                                    li
                                        a(href='/toLogin_form')
                                            span.label.label-primary
                                                |登录



        div(style='')
            .col-md-2

            .col-md-8(style='background:#ffffff;')
                block content
            .col-md-2


        include bottom

        block scripts