// Bootstrap
link(href= 'stylesheets/commons/bootstrap.min.css', rel='stylesheet')
// Font Awesome
link(href= 'stylesheets/commons/font-awesome.min.css', rel='stylesheet')
// NProgress
//link(href= 'stylesheets/commons/nprogress.css', rel='stylesheet')
// iCheck
//link(href= 'stylesheets/commons/green.css', rel='stylesheet')
// bootstrap-progressbar
//link(href= 'stylesheets/commons/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
// PNotify
//link(href= 'stylesheets/commons/pnotify.css', rel='stylesheet')
//link(href= 'stylesheets/commons/pnotify.buttons.css', rel='stylesheet')
//link(href= 'stylesheets/commons/pnotify.nonblock.css', rel='stylesheet')
// Custom Theme Style
link(href= 'stylesheets/commons/custom.min.css', rel='stylesheet')
// Animate.css
link(href='stylesheets/commons/animate.min.css', rel='stylesheet')

// bootstrap-wysiwyg
link(href='stylesheets/commons/prettify.min.css', rel='stylesheet')
// Select2
//link(href='stylesheets/commons/select2.min.css', rel='stylesheet')
// Switchery
//link(href='stylesheets/commons/switchery.min.css', rel='stylesheet')
// starrr
//link(href='stylesheets/commons/starrr.css', rel='stylesheet')
// bootstrap-daterangepicker
//link(href='stylesheets/commons/daterangepicker.css', rel='stylesheet')

