doctype html
html
    head
        title= title
        // Bootstrap
        link(href= '/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href= '/node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href= '/node_modules/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
        // iCheck
        link(href= '/node_modules/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
        // bootstrap-progressbar
        link(href= '/node_modules/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
        // PNotify
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.css', rel='stylesheet')
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.css', rel='stylesheet')
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.css', rel='stylesheet')
        // Custom Theme Style
        link(href= '/node_modules/gentelella/build/css/custom.min.css', rel='stylesheet')
    body
        block content
