doctype html
html
    head
        title= title



        // Bootstrap
        link(href= '/node_modules/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href= '/node_modules/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href= '/node_modules/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
        // iCheck
        link(href= '/node_modules/gentelella/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
        // bootstrap-progressbar
        link(href= '/node_modules/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
        // PNotify
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.css', rel='stylesheet')
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.css', rel='stylesheet')
        link(href= '/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.css', rel='stylesheet')
        // Custom Theme Style
        link(href= '/node_modules/gentelella/build/css/custom.min.css', rel='stylesheet')
        // Animate.css
        link(href='/node_modules/gentelella/vendors/animate.css/animate.min.css', rel='stylesheet')





    body(style='background:#FFFFFF;padding-top:0px;padding-bottom:70px;')
        block content



        // jQuery
        script(src='/node_modules/gentelella/vendors/jquery/dist/jquery.min.js')
        // Bootstrap
        script(src='/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js')
        // FastClick
        script(src='/node_modules/gentelella/vendors/fastclick/lib/fastclick.js')
        // NProgress
        script(src='/node_modules/gentelella/vendors/nprogress/nprogress.js')
        // bootstrap-progressbar
        script(src='/node_modules/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
        // iCheck
        script(src='/node_modules/gentelella/vendors/iCheck/icheck.min.js')
        // PNotify
        script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.js')
        script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.buttons.js')
        script(src='/node_modules/gentelella/vendors/pnotify/dist/pnotify.nonblock.js')
        // Custom Theme Scripts
        script(src='/node_modules/gentelella/build/js/custom.min.js')