html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= title

        // Bootstrap
        link(href= 'stylesheets/commons/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href= 'stylesheets/commons/font-awesome.min.css', rel='stylesheet')
        // Custom Theme Style
        link(href= 'stylesheets/commons/custom.min.css', rel='stylesheet')



    body
        .row
            .navbar.nav_title
                a.site_title(href='#')
                    i.fa.fa-weibo
                    span 微博后台管理系统
            .clearfix
        .row(style='margin:40px 0px;')
            .x_panel
                .col-md-3.col-sm-3.col-xs-12
                .col-md-6.col-sm-6.col-xs-12(style='padding: 30px 0px;')
                    .x_title
                        h2
                            | 管理员登录
                        .clearfix
                    .x_content(style='padding: 30px 0px;')

                        //modal
                        - if(locals.message)
                            //button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='.bs-example-modal-sm')
                            //    | 打开模态框
                            .modal.fade.bs-example-modal-sm(id='alert_modal', tabindex='-1', role='dialog', aria-hidden='true')
                                .modal-dialog.modal-sm
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4#myModalLabel2.modal-title 警告
                                        .modal-body
                                            h4= locals.message
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal') 关闭


                        form#demo-form2.form-horizontal.form-label-left(data-parsley-validate='', novalidate='', method='post', action='/admin_login')
                            .form-group
                                label.control-label.col-md-3.col-sm-3.col-xs-12(for='username')
                                    | 账号
                                    span.required *
                                .col-md-6.col-sm-6.col-xs-12
                                    input#username.form-control.col-md-7.col-xs-12(type='text', name='username',required)
                            .form-group
                                label.control-label.col-md-3.col-sm-3.col-xs-12(for='password')
                                    | 密码
                                    span.required *
                                .col-md-6.col-sm-6.col-xs-12
                                    input#password.form-control.col-md-7.col-xs-12(type='password', name='password', required)

                            //.ln_solid
                            .form-group
                                .col-md-6.col-sm-6.col-xs-12.col-md-offset-6
                                    //button.btn.btn-primary(type='button') Cancel
                                    button.btn.btn-primary(type='reset') 重置
                                    button.btn.btn-success(type='submit',id='btn_admin_login') 提交
                .col-md-3.col-sm-3.col-xs-12


        // Angular
        script(src='javascripts/commons/angular.min.js')
        // jQuery
        script(src='javascripts/commons/jquery.min.js')
        // Bootstrap
        script(src='javascripts/commons/bootstrap.min.js')
        // Parsley
        script(src='javascripts/commons/parsley.min.js')
        // Custom Theme Scripts
        script(src='javascripts/commons/custom.min.js')

block scripts
        //login validation
        script(src='javascripts/backend/admin/admin_login.js')


