//静态资源文件引用
//采用public目录下的文件路径

// Angular
script(src='javascripts/commons/angular.min.js')

// jQuery
script(src='javascripts/commons/jquery.min.js')
// Bootstrap
script(src='javascripts/commons/bootstrap.min.js')
// FastClick
//script(src='javascripts/commons/fastclick.js')
// NProgress
//script(src='javascripts/commons/nprogress.js')

// morris.js
//script(src='javascripts/commons/raphael.min.js')
//script(src='javascripts/commons/morris.min.js')



// bootstrap-progressbar
script(src='javascripts/commons/bootstrap-progressbar.min.js')
// iCheck
//script(src='javascripts/commons/icheck.min.js')
// PNotify
//script(src='javascripts/commons/pnotify.js')
//script(src='javascripts/commons/pnotify.buttons.js')
//script(src='javascripts/commons/pnotify.nonblock.js')



// bootstrap-daterangepicker
//script(src='javascripts/commons/moment.min.js')
//script(src='javascripts/commons/daterangepicker.js')
// bootstrap-wysiwyg
//script(src='javascripts/commons/bootstrap-wysiwyg.min.js')
//script(src='javascripts/commons/jquery.hotkeys.js')
//script(src='javascripts/commons/prettify.js')
// jQuery Tags Input
//script(src='javascripts/commons/jquery.tagsinput.js')
// Switchery
//script(src='javascripts/commons/switchery.min.js')
// Select2
//script(src='javascripts/commons/select2.full.min.js')
// Parsley
//script(src='javascripts/commons/parsley.min.js')
// Autosize
//script(src='javascripts/commons/autosize.min.js')
// jQuery autocomplete
//script(src='javascripts/commons/jquery.autocomplete.min.js')
// starrr
//script(src='javascripts/commons/starrr.js')


// Custom Theme Scripts
script(src='javascripts/commons/custom.min.js')


