//静态资源文件引用
//采用public目录下的文件路径

// Angular
script(src='javascripts/commons/angular.min.js')

// jQuery
script(src='javascripts/commons/jquery.min.js')
// Bootstrap
script(src='javascripts/commons/bootstrap.min.js')
// bootstrap-progressbar
script(src='javascripts/commons/bootstrap-progressbar.min.js')
// Custom Theme Scripts
script(src='javascripts/commons/custom.min.js')
