extends ../commons/layout

block head



block content

    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_title
                    h2 首页
                    .clearfix
                .x_content
                    .bs-example(data-example-id='jumbotron')
                        .jumbotron
                            h1 欢迎来到微博后台管理系统!









block scripts

