extends ../commons/layout

block head



block content

    .bs-example(data-example-id='simple-jumbotron')(style='margin: 100px 20px;')
        .jumbotron(style='padding: 50px 100px;padding-left:200px;')
            h1 欢迎来到微博后台管理系统!
            p






block scripts

