extends ../commons/layout

block content
    .bs-example(data-example-id='simple-jumbotron')(style='margin: 0 20px;')
        .jumbotron(style='padding: 50px 100px;padding-left:200px;')
            h1 后台欢迎页面
            p
                | admin

